@import "../../../style/style.config.scss";

.main-container{
    padding-top: $header-height;
    @include row-left-center;
}
.left-block {
    width: 10vw;
}
.main-block {
    width: 50vw;
    @include column-left-left
}
.with-border{
    border: 1px solid red;
}