$dark-blue: #023665;
$light-blue: #93ccff;
$white: #ffffff;
$snow: #FFFAFA;
$ghostwhite: #F8F8FF;
$blue-background: #e5f0ff;
$dark-grey: #3a3b3f;
$light-grey: #9ea0a5;
$blue-profile: #0064be;
$menu-item-grey: #66788a;
$menu-item-dark-grey: #212529;
$divider: #e4e7eb;
$background: #f9fafc;
$scroll-bar: rgba(255, 255, 255, 0.4);
$green: #47b881;
$red-arrow: #ec4c47;
$red-percentage: #bf0e08;
$icon-grey: #575757;
$link-blue: #1070ca;
$red-widget: #bc2f35;
$button-blue: #d4e6ff;
$button-text-blue: #1665d8;
$light-blue-row: #f6f9fd;
$open-red: #a9110e;
$blue: #4880ff;
$purple: #bc75c1;
$grey: #4a4a4a;
$add-info-grey: #afafaf;
$green-index: #72eb91;
$green-icon: #20a643;

$header-height: 65px;
$footer-height: 65px;
$margin-left: 150px;
$margin-right: 100px;

@mixin row-left-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin row-left-right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
@mixin row-left-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@mixin row-left-stretch{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin row-right-left{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
@mixin row-right-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin row-right-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@mixin row-right-stretch{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
@mixin row-center-left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@mixin row-center-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@mixin row-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin row-center-stretch{
    display: flex;
    justify-content: center;
    align-items: stretch;
}
@mixin row-sb-left{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@mixin row-sb-right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@mixin row-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin row-sb-stretch{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
@mixin row-sa-left{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
@mixin row-sa-right{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
@mixin row-sa-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin row-sa-stretch{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

@mixin column-left-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin column-left-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
@mixin column-left-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
@mixin column-left-stretch{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
@mixin column-right-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
@mixin column-right-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin column-right-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
@mixin column-right-stretch{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}
@mixin column-center-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@mixin column-center-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
@mixin column-center-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin column-center-stretch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
@mixin column-sb-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
@mixin column-sb-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
@mixin column-sb-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin column-sb-stretch{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
@mixin column-sa-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
@mixin column-sa-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
@mixin column-sa-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@mixin column-sa-stretch{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
@mixin left-left{
    justify-content: flex-start;
    align-items: flex-start;
}
@mixin left-right{
    justify-content: flex-start;
    align-items: flex-end;
}
@mixin left-center{
    justify-content: flex-start;
    align-items: center;
}
@mixin left-stretch{
    justify-content: flex-start;
    align-items: stretch;
}
@mixin right-left{
    justify-content: flex-end;
    align-items: flex-start;
}
@mixin right-right{
    justify-content: flex-end;
    align-items: flex-end;
}
@mixin right-center{
    justify-content: flex-end;
    align-items: center;
}
@mixin right-stretch{
    justify-content: flex-end;
    align-items: stretch;
}
@mixin center-left{
    justify-content: center;
    align-items: flex-start;
}
@mixin center-right{
    justify-content: center;
    align-items: flex-end;
}
@mixin center-center{
    justify-content: center;
    align-items: center;
}
@mixin center-stretch{
    justify-content: center;
    align-items: stretch;
}
@mixin sb-left{
    justify-content: space-between;
    align-items: flex-start;
}
@mixin sb-right{
    justify-content: space-between;
    align-items: flex-end;
}
@mixin sb-center{
    justify-content: space-between;
    align-items: center;
}
@mixin sb-stretch{
    justify-content: space-between;
    align-items: stretch;
}
@mixin sa-left{
    justify-content: space-around;
    align-items: flex-start;
}
@mixin sa-right{
    justify-content: space-around;
    align-items: flex-end;
}
@mixin sa-center{
    justify-content: space-around;
    align-items: center;
}
@mixin sa-stretch{
    justify-content: space-around;
    align-items: stretch;
}